body {
	color: #333;
}

/* Reset */
a:hover {
	text-decoration: none;
}

/* Header */
#header {
	height: 44px;
	background: #333;
}
#header h1 {
	display: block;
	background: url(../img/logo.png) no-repeat;
	width: 209px;
	height: 30px;
	text-indent: -9999px;
	margin: 7px 0 0;
	float: left;
}

/* Navigation */
#navigation {
	list-style: none;
	float: left;
	margin: 10px 0 0 100px;
}
#navigation li {
	display: inline;
	margin-right: 20px;
}
#navigation li a {
	color: #fff;
	font-size: 14px;
}
#toll {
	float: right;
	color: #fff;
	font-size: 16px;
	margin-top: 9px;
}

/* Middle */
#smallcar-img {
	background: url(../img/carcity_small.png) no-repeat;
	width: 240px;
	height: 227px;
	position: absolute;
	bottom: 0;
	margin-bottom: -31px;
}
#middle-content {
	height: 230px;
	position: relative;
}
#middle-content h1 {
	font-weight: 300;
	font-size: 44px;
	color: #fff;
	display: block;
	position: absolute;
	bottom: 60px;
	left: 255px;
}
#middle-content h2 {
	font-size: 23px;
	font-weight: 300;
	color: #fff;
	display: block;
	position: absolute;
	bottom: 15px;
	left: 255px;
}
#middle {
	background: #529be7;
	min-height: 230px;
}
#middle .container {
	position: relative;
}
#middle-title {
	text-align: center;
	color: #fff;
	font-size: 62px;
	font-weight: 300;
	margin-top: 35px;
}
#middle-title-caption {
	text-align: center;
	color: #fff;
	font-size: 23px;
	font-weight: normal;
}
#homepage-img {
	width: 553px;
	height: 503px;
	margin-top: -90px;
	margin-bottom: -65px;
	background: url(../img/background_city.png) no-repeat;
	position: relative;
	z-index: 3;
}
#car-big {
	width: 440px;
	height: 367px;
	background: url(../img/car_big.png) no-repeat;
	position: absolute;
	z-index: 5;
	bottom: 0;
	left: 105px;
	margin-bottom: -65px;
}
#signup-container {
	width: 416px;
	height: 396px;
	background: url(../img/signup.png) no-repeat;
	position: absolute;
	right: 27px;
	bottom: 0;
	margin-bottom: -55px;
	z-index: 4;
}
#signup-form {
	padding: 0 40px;
}
#signup-form h3 {
	color: #fff;
}
#titles {
	text-align: center;
	margin-top: 30px;
	margin-left: 25px;
}
#input-container {
	margin-top: 20px;
}
.title-field {
	vertical-align: middle;
	margin-right: 10px;
	float: left;
	font-size: 14px;
}
.title-field input[type="radio"] {
	margin: 0 5px 3px 0;
}
.input-field input[type="text"] {
	font-size: 13px;
	padding: 5px 10px;
	width: 140px;
	float: left;
	margin-right: 5px;
}

#agreement {
	text-align: center;
	margin: 15px 0;
}
#agreement input[type="checkbox"] {
	margin: -3px 0 0 0;
}
#apply-now {
	background: url(../img/btn-green.png) no-repeat transparent;
	width: 261px;
	height: 69px;
	border: 0;
	color: #fff;
	font-family: "HelveticaNeue", "Open Sans", Arial, Sans-serif;
	font-size: 26px;
	margin-left: 40px;
}
.more {
	font-size: 13px;
	display: block;
	text-align: center;
	margin-top: 15px;
}
.more a{
	text-decoration: underline;
	color: #9d9d9d;
}

/* Main */
#main {
	margin-top: 65px;
	margin-bottom: 65px;
}
#main h2 {
	color: #529be7;
	font-size: 37px;
	font-weight: 300;
	margin: 0 0 20px 0;
}

/* Application Form */
#application-form {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-top: 40px;
}
#steps-container {
	background: #529be7;
	width: 220px;
	position: relative;
	border-radius: 4px 0 0 4px;
	padding-top: 25px;
	float: left;
	height: 1080px;
}
#main-form {
	float: right;
	width: 475px; 
}
#main-form form {
	padding: 20px 30px;
}
.add-top-margin {
	margin-top: 25px !important;
}
.add-top-padding {
	padding-top: 25px !important;
}
.step-field {
	height: 106px;
	position: relative;
}
.step-field a {
	color: #a9cdf3;
	height: 106px;
	display: block;
}
.step-field a:hover {
	background: #61a3e9;
}
.step-field a.active {
	background: url(../img/round-rectangle.png) no-repeat;
	width: 255px;
	height: 106px;
	margin-left: -10px;
}
.step-num {
	display: inline-block;
	width: 30px;
	position: absolute;
	left: 20px;
	top: 25px;
}
.step-large-num {
	font-size: 47px;
	font-weight: 300;
	margin-top: 5px;
	display: block;
}
.step-desc {
	position: absolute;
	top: 29px;
	left: 55px;
}
.step-desc p {
	font-size: 27px;
	font-weight: 300;
}

/* Content */
#content {
	margin-top: 60px;
}
#content h2 {
	color: #529be7;
	font-size: 30px;
	font-weight: 300;
	text-align: center;
}
#content h3 {
	color: #529be7;
	font-size: 27px;
	font-weight: 300;
}
#content ul {
	list-style: none;
	margin: 30px 0 0 0;
}
#content ul li {
	font-size: 14px;
	margin-bottom: 20px;
}
.content-caption {
	font-size: 17px;
	text-align: center;
	font-weight: 300;
}
#content-divider {
	width: 959px;
	height: 10px;
	background: url(../img/divider.png) no-repeat;
	margin: 25px 0;
}
.what-our {
	color: #529be7;
	font-size: 20px;
	font-weight: 300;
	display: block;
	margin-top: 20px;
}
#testimonial {
	background: #deebf6;
	padding: 30px;
	margin-top: 30px;
	border-radius: 4px;
}
#testimonial .author {
	font-weight: 300;
	font-style: italic;
}
#apply-btm-content {
	background: #529be7;
	padding: 40px 0;
	border-radius: 4px;
	margin: 20px 0;
	text-align: center;
	position: relative;
}
#apply-btm-content p {
	color: #fff;
	font-size: 19px;
	font-weight: 300;
	margin: 0;
}
#bullet-ol li span {
	display: block;
	background: url(../img/bullet-ol.png) no-repeat;
	width: 43px;
	height: 43px;
	float: left;
}
#bullet-ol .bullet-2 {
	background-position: -43px 0 !important;
}
#bullet-ol .bullet-3 {
	background-position: -86px 0 !important;
}
#bullet-ol .bullet-4 {
	background-position: -129px 0 !important;
}
#bullet-ol li p,
#bullet-glyph li p {
	margin-left: 63px;
}
#bullet-glyph li span {
	display: block;
	background: url(../img/bullet-glyph.png) no-repeat;
	float: left;
}
#bullet-glyph .bullet-1 {
	width: 45px;
	height: 46px;
}
#bullet-glyph .bullet-2 {
	width: 38px;
	height: 53px;
	background-position: -45px 0 !important;
	margin-left: 3px;
}
#bullet-glyph .bullet-3 {
	width: 55px;
	height: 53px;
	background-position: -83px 0 !important;
	margin-left: -7px;
}
#bullet-glyph .bullet-4 {
	width: 55px;
	height: 53px;
	background-position: -141px 0 !important;
}
.small-car {
	background: url(../img/car_small.png) no-repeat;
	width: 97px;
	height: 83px;
	display: block;
	position: absolute;
	top: 10px;
	left: 70px;
}
#apply-btn-small {
	display: block;
	position: absolute;
	background: url(../img/btn-green-small.png) no-repeat;
	width: 146px;
	height: 45px;
	right: 40px;
	top: 28px;
}
#apply-btn-small a {
	color: #fff;
	margin-top: 12px;
	display: block;
	font-family: "HelveticaNeue", "Open Sans", Arial, Sans-serif;
	font-size: 17px;
	width: 146px;
	height: 45px;
}
.note {
	font-family: "HelveticaNeue", "Open Sans", Arial, Sans-serif;
	font-size: 9px;
	line-height: 10px;
	display: block;
	margin-left: 20px;
}

/* Footer */
#upper-footer {
	height: 170px;
	background: url(../img/footer-bg.jpg) repeat-x bottom center;
	position: relative;
}
#customer-support {
	background: url(../img/customer-support.png) no-repeat;
	height: 159px;
	width: 159px;
	display: block;
	position: absolute;
	bottom: 0;
	margin-left: 140px;
}
.footer-content {
	margin-top: 60px;
}
.footer-content h5 {
	color: #529be7;
	font-size: 14px;
}
.footer-content h4 {
	font-size: 18px;
}
.footer-content p {
	font-size: 12px;
	color: #5f5f5f;
	margin: 0;
}
.twitter-date {
	display: block;
	font-size: 10px;
	font-style: italic;
}
#social-media {
	list-style: none;
	margin: 0;
}
#social-media li a {
	float: left;
	width: 20px;
	height: 19px;
	margin-right: 5px;
	background: url(../img/social-media.png) no-repeat;
}
#tw {
	background-position: -20px 0 !important;
}
#yt {
	background-position: -40px 0 !important;
}
#footer {
	height: 40px;
	background: #333;
}
.copyright {
	color: #5f5f5f;
	font-size: 11px;
	margin: 10px;
	display: block;
}
#footer-nav {
	list-style: none;
	margin-top: 10px;
}
#footer-nav li {
	display: inline;
	margin-right: 10px;
}
#footer-nav li a {
	color: #fff;
	font-size: 12px;
}

/* Global CSS */
fieldset {
	border-radius: 4px;
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
legend {
	font-size: 14px;
	font-weight: bold;
	padding: 0 10px;
	color: #529be7;
}
fieldset table tr td:first-child {
	vertical-align: middle;
	width: 140px;
	text-align: right;
}
#main-form input,
#main-form select{
	margin: 0 0 0 5px;
}
#main-form select {
	display: inline-block;
	width: auto;
}
#main-form td {
	padding-bottom: 10px;
}
.input-small {
	width: 30px !important;
}
.submit-btn {
	background: url(../img/btn-green-arrow.png) no-repeat transparent;
	width: 130px;
	height: 43px;
	border: none;
	text-align: left;
	margin-left: 158px;
	padding-left: 20px;
	color: #fff;
	font-size: 17px;
}